*{
	margin:0;
	padding:0;
}
body{
	font-family: 'Roboto', sans-serif;
}
h1{
	font-size:36px; 
}
/*backgroun resmini ayarladık*/
header{
	background-color: rgba(0,0,0,0.4);
	height: 70px;
	width: 100%;
	line-height: 70px;
	position: fixed;
	z-index: 999;
}
/*menulerin list stillerini kaldırdık*/
header nav ul{
	list-style: none;
}
/*Menulerin yan yana gelmesini sağladık*/
header nav ul li{
	display: inline-block;
	padding-left: 30px;
}
/*Logoyu sol a yasladık*/
header a .logo{
	float: left;
} 
/*Menüleri sağa yasladık*/
header nav{
	float: right;
}
/*menü renklerini ayarladık*/
header nav ul li a{
	color: white;
	font-size: 14px;
	font-weight: 400;
	transition:all 0.3s ease-in ;
}
/*menünün üzerine geldiğimizde alt çizgiyi kaldırdık.*/
header nav ul li a:hover , header nav ul li a:focus{
	color: #c61f27;
	text-decoration: none;
}
/*Mainimizin arka planını ayarladık*/
#mainContent{
	background-image: url('../img/main.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.mainArea{
	margin-top:200px; 
}
/*Main içerisindeki başlığı özelleştirdik*/
.mainArea h2{
	font-size: 36px;
	color: white;
	margin-bottom: 30px;
}
/*Main içerisindeki yazıyı özelleştirdik*/
.mainArea p{
	font-size: 14px;
	color: white;
	margin-bottom: 40px;
}
/*Main içerisindeki butonu özelleştirdik*/
.mainArea .btn-success{
	background-color: #c61f27;
	border: none;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin-bottom: 60px;
}
.btn-success:hover{
	background-color:#398439 ;
}
/*Services i özelleştirdik*/
#services{
	background-color: #efefef;
	padding-top: 50px; 
	padding-bottom: 50px; 
}	
/*Services içerisindeki başlığı özelleştirdik*/
.services-top h1{
	color: #c61f27;
}
/*Services içerisindeki yazıyı özelleştirdik*/
.services-top p{
	color: black;
	font-size: 14px;
	font-style: italic;
	font-weight: 20;
	margin-bottom: 40px; 
}
/*Services içerisindeki Font awasame özelleştirdik*/
.fa{
	color: #c61f27;
}
/*Services içeriğini özelleştirdik*/
.services-content{
	font-size: 14px;
	font-weight: 10;
	color: #c61f27;
}

/*Works u özelleştirdik*/
#works{
	background-image: url('../img/works-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 50px;
	padding-bottom: 50px;
}
/*Works içerisindeki başlığı özelleştirdik*/
#works h1{
	color: white;
}
/*Works içerisindeki yazıyı özelleştirdik*/
#works p{
	color: white;
	font-size: 14px;
	font-style: italic;
	font-weight: 20;
	margin-bottom: 40px; 
}
.col-md-3 img{
	width: 100%;
}

.col-md-3{
	padding-left: 0;
	padding-right: 0;
}

/*Counter arkaplanı resmi ekledik*/
#counter{
	background-image: url('../img/counter.jpg');
	background-size: cover; 
	padding: 50px 0 50px 0;
}
/*Counter içerisindeki başlığı özelleştirdik*/
#counter h1{
	color: white;
	font-size: 24px;
}
/*counter içerisindeki resimleri özelleştirdik*/
#counter .fa-clock-o, .fa-users, .fa-thumbs-up{
	font-size: 72px;
	color: white;
}

#team{
	background-image: url('../img/team-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 50px;
	padding-bottom: 50px;
}

.team-top h1{
	color: white;
}

.team-top p{
	color: white;
	font-size: 14px;
	font-style: italic;
	font-weight: 20;
	margin-bottom: 40px; 
}

.team-content h3,p{
	color: white;	
}

.partners-content{
	margin: 60px;
}
.partners-content .col-md-4{
	margin-bottom: 50px;
}


